// =============================================================================
// Prelude settings
//
// Table of contents:
// 1. Base
// 2. Colors
// 3. Typography
// 4. Grid system
// 5. Forms
// 6. Tables
// 7. Buttons
// 8. Debug mode
//
// =============================================================================

// =============================================================================
// 1. Base
// =============================================================================

//Border radius
$default-border-radius:     4px; // default: 4px


// =============================================================================
// 2. Colors
// =============================================================================

// Grays
$white:                     #fff; // default: #fff
$gray-lighter:              #f1f1f1; // default: #ccc
$gray-light:                #999; // default: #999
$gray:                      #777; // default: #777
$gray-dark:                 #555; // default: #555
$gray-darker:               #333; // default: #333
$black:                     #000; // default: #000

// Accent Colors
$red:                       #9d261d; // default: #9d261d
$green:                     #349D76; // default: #349D76
$blue:                      #36C; // default: #36C
$yellow:                    #fffbe4; // default: #fffbe4
$orange:                    #f89406; // default: #f89406
$pink:                      #fa5b7d; // default: #fa5b7d
$purple:                    #7a43b6; // default: #7a43b6

// Link Colors
$link-color:                scale-lightness(#2BFECC, -33.3333%); // default: $blue
$link-hover-color:          scale-lightness(#2BFECC, -66.6666%); // default: $pink

// Text Colors
$base-text-color:           $gray-darker; // default: $gray-darker
$strong-text-color:         $black; // default: $black
$weak-text-color:           $gray; // default: $gray
$header-color:              $gray-lighter; // default: $gray-lighter
$blockquote-color:          $gray-lighter; // default: $gray-lighter

// Line & Border colors
$line-color: #e6e6e6; // default: #e6e6e6


// =============================================================================
// 3. Typography
// =============================================================================

// Vertical Rythm
$base-font-size:            20px; // default: $base-font-size (from Compass)
$base-line-height:          $base-font-size * 1.5; // default: $base-line-height (From Compass)

$base-spacing-unit:         $base-line-height; // default: $base-line-height
$half-spacing-unit:         $base-spacing-unit / 2; // default: $base-spacing-unit / 2
$quarter-spacing-unit:      $half-spacing-unit / 2; // default: $half-spacing-unit / 2

// Typographic scale
$giga:                      117px; // default 117px
$mega:                      90px;  // default 90px
$kilo:                      72px;  // default 72px
$alpha:                     60px;  // default 60px
$beta:                      48px;  // default 48px
$gamma:                     36px;  // default 36px
$delta:                     24px;  // default 24px
$epsilon:                   21px;  // default 21px
$zeta:                      18px;  // default 18px
$milli:                     16px;  // default 16px
$micro:                     14px;  // default 14px
$nano:                      11px;  // default 11px

// Fonts
$base-font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif; // default: "Helvetica Neue", Arial, sans-serif
$alternate-font-family: 'Titillium Web', 'Helvetica Neue', Arial, sans-serif; // default: Georgia, "Times New Roman", serif
$headings-font-family: $alternate-font-family; // default: $base-font-family

// Brand
$brand-face: $base-font-family; // default: $base-font-family
$brand-color: #2BFECC; // default: $black

// Colors
$subheader-color: $gray-light; // default: $gray-light


// =============================================================================
// 4. Grid system
// =============================================================================

$grid-gutter:               $base-spacing-unit; // default: $base-spacing-unit
$grid-use-placeholder:      false; // default: false
$grid-breakpoints:          's' '(min-width: 320px)', 'm' '(min-width: 600px)', 'l' '(min-width: 940px)'; // default: 's' '(min-width: 320px)', 'm' '(min-width: 700px)', 'l' '(min-width: 980px)'
$generate-default-grid:     false; // default: false
$use-grid-breakpoints:      false; // default: false
$use-markup-fix:            true; // default true


// =============================================================================
// 5. Forms
// =============================================================================

$input-background:          $white; // default: $white
$input-border:              #ccc; // default: #ccc
$input-border-radius:       3px; // default: 3px
$input-disabled-background: $gray-lighter; // default: $gray-lighter
$form-actions-background:   #f5f5f5; // default: #f5f5f5

// Form states and alerts
// =============================================================================

$warning-text:              #c09853; // default: #c09853
$warning-background:        #fcf8e3; // default: #fcf8e3
$warning-border:            darken(adjust-hue($warning-background, -10), 3%); // default: darken(adjust-hue($warning-background, -10), 3%)

$error-text:                #b94a48; // default: #b94a48
$error-background:          #f2dede; // default: #f2dede
$error-border:              darken(adjust-hue($error-background, -10), 3%); // default: darken(adjust-hue($error-background, -10), 3%)

$success-text:              #468847; // default: #468847
$success-background:        #dff0d8; // default: #dff0d8
$success-border:            darken(adjust-hue($success-background, -10), 5%); // default: darken(adjust-hue($success-background, -10), 5%)

$info-text:                 #3a87ad; // default: #3a87ad
$info-background:           #d9edf7; // default: #d9edf7
$info-border:               darken(adjust-hue($info-background, -10), 7%); // default: darken(adjust-hue($info-background, -10), 7%)

// =============================================================================
// 6. Tables
// =============================================================================

$table-background:          transparent; // default: transparent
$table-background-stripe:   #f1f1f1; // default: #f1f1f1
$table-background-hover:    #f1f1f1; // default: #f1f1f1
$table-border:              $line-color; // default: $line-color


// =============================================================================
// 7. Buttons
// =============================================================================

$btn-font-weight:           normal; // default: normal
$btn-border-radius:         none; // default: none
$btn-padding:               .75em 1.5em; // default: .35em 1.5em

$btn-use-gradient:          false; // default: false
$btn-use-shadow:            false; // default: false

$create-btn-styles:         false; // default: true

$btn-background:            #f1f1f1; // default: #f1f1f1
$btn-primary-background:    $link-color; // default: $link-color
$btn-info-background:       #5bc0de; // default: #5bc0de
$btn-success-background:    lighten($green, 15%); // default: lighten($green, 15%)
$btn-warning-background:    lighten($orange, 15%); // default: lighten($orange, 15%)
$btn-danger-background:     #ee5f5b; // default: #ee5f5b
$btn-inverse-background:    $gray; // default: $gray


// =============================================================================
// 8. Debug mode
// =============================================================================

$debug-mode:                false; // default: false
