// =============================================================================
// Variables
//
// Table of contents:
// 1. Grids
// 2. Breakpoints
//
// =============================================================================

// =============================================================================
// 1. Grids and breakpoints
// =============================================================================

$grids:             s, l;
$breakpoints:       small, large;
$site-max-width:    pixels-to-ems(1200px);
$small:             320px;
$large:             745px;
$breakpoint-sizes:  $small $large;