// =============================================================================
// Variables
//
// Table of contents:
// 1. Grids and breakpoints
//
// =============================================================================

// =============================================================================
// 1. Grids and breakpoints
// =============================================================================

$grids:             s, m, l;
$breakpoints:       'small', 'medium', 'large';
$site-max-width:    pixels-to-ems(1200px);
$small:             320px;
$medium:            600px;
$large:             940px;
$breakpoint-sizes:  $small $medium $large;

// =============================================================================
// 2. Colors
// =============================================================================

$brand-color-lighter: #abffee;
$facebook-color:      #3B5998;
$twitter-color:       #4099FF;