// =============================================================================
// Variables
//
// Table of contents:
// 1. Grids
// 2. Breakpoints
//
// =============================================================================

// =============================================================================
// 1. Grids
// =============================================================================

$grids: s, l;
$breakpoints: small, large;


// =============================================================================
// 2. Breakpoints
// =============================================================================

$small:  320px;
$large: 745px;

