// =============================================================================
// Containers
// =============================================================================

@mixin slanted-container($direction, $color) {
    @extend %slanted-container;
    @extend %slanted-container--#{$direction};
    &::before { border-bottom-color: $color !important; }
}

%ps {
    position: relative;
    z-index: 2;
}

%slanted-container {
    &::before {
        content: "";
        position: absolute;
        top: -1.49em;
        display: block;
        border-width: 0 0 1.5em 0;
        border-style: solid;
        border-color: transparent;
        left: -5em; /*Improving the inclination on the even ones*/
        right: 0; /*ToDo: -5 makes iOS overflow. Not perfect. Fix it!*/
        -moz-transform: scale(1.1); /*Fixes dent rendering on FF*/
    }
}

%slanted-container--up {
    &::before {
        border-left-width: 90em;
    }
}

%slanted-container--down {
    &::before {
        border-right-width: 90em;
    }
}

.container--white {
    @extend %ps;
    background-color: $white;
}

.container--black {
    @extend %ps;
    background-color: $black;
    color: $white;
}

.container--light {
    @extend %ps;
    background-color: $gray-lighter;
}

.container--dark {
    @extend %ps;
    @include slanted-container(down, #777777);
    background-color: #777777;
    color: $white;
}

.container--darker {
    @extend %ps;
    background-color: #333;
    color: $white;
}

.container--brand {
    @extend %ps;
    @include slanted-container(up, $brand-color);
    background-color: $brand-color;
}

.container--brand-light {
    @extend %ps;
    @include slanted-container(up, #abffee);
    background-color: #abffee;
}

.container--social {
    $social-background-color: scale-lightness($facebook-color, 90%);
    background-color: $social-background-color;
}

.container--red {
    @extend %ps;
    @include slanted-container(up, #fb4f67);
    background-color: #fb4f67;
}

.container--blue {
    @extend %ps;
    @include slanted-container(down, #1183d0);
    background-color: #1183d0;
}

// Dirty hack to prevent slanted containers bug
// @Todo: Fix the bug and remove this

html,
body {
  overflow-x: hidden;
}