// =============================================================================
// Teammate
//
// Table of contents:
// 1. Teammate
// 2. Photo
// 3. Info
//
// =============================================================================

// =============================================================================
// 1. Teammate
// =============================================================================

.teammate {
    @extend .cf;
}


// =============================================================================
// 2. Photo
// =============================================================================

.teammate__photo {

    .teammate--secondary & {
        @extend .thumbnail-circle;

        @include respond-to(medium-and-below) {
            position: absolute;
            max-width: 75%;
        }
    }


    @include respond-to(large-and-up) {
        float: right;
    }

    .teammate--hero & {
        @include respond-to(medium-and-below) {
            border-radius: 50%;
            max-width: 75%;
            margin: $base-spacing-unit auto;
            border: solid $quarter-spacing-unit $brand-color;
        }
    }

}


// =============================================================================
// 3. Info
// =============================================================================

.teammate__name {
    @extend .alpha;

    .teammate--secondary & {

        @include respond-to(small-and-below) {
            margin-top: $base-spacing-unit * 6;
        }

    }

    .teammate--hero & {
        @extend .kilo;
    }
}

.teammate__description {
    .teammate--hero & {
        @extend .delta;
    }
}

.teammate--hero {
    @extend .wrapper;
    .teammate__name,
    .teammate__role,
    .teammate__description {
        @include respond-to(large-and-up) {
            padding-left: 10%;
        }
    }

    @include respond-to(medium-and-below) {
        text-align: center;
    }

    @include respond-to(large-and-up) {
        border-bottom: solid $quarter-spacing-unit $brand-color;
    }

}

.teammate--secondary {
    @include respond-to(small-and-below) {
        .flag__image {
            padding-right: 0;
        }
    }
}
