// =============================================================================
// Teammate
//
// Table of contents:
// 1. Teammate
// 2. Photo
// 3. Info
//
// =============================================================================

// =============================================================================
// 1. Teammate
// =============================================================================

.teammate {
    @extend .cf;
}


// =============================================================================
// 2. Photo
// =============================================================================

.teammate__photo {

    .teammate--secondary & {
        @extend .thumbnail-circle;

        @include respond-to(small-and-below) {
            position: absolute;
        }
    }

    .teammate--hero & {
        position: relative;
        margin-top: -6em;

        @include respond-to(large-and-up) {
            float: right;
        }
    }
}


// =============================================================================
// 3. Info
// =============================================================================

.teammate__name {
    @extend .alpha;

    .teammate--secondary & {

        @include respond-to(small-and-below) {
            margin-top: $base-spacing-unit * 6;
        }

    }

    .teammate--hero & {
        @extend .mega;
    }
}

.teammate__description {
    .teammate--hero & {
        @extend .delta;
    }
}

.teammate--hero {
    .teammate__name,
    .teammate__role,
    .teammate__description {
        @include respond-to(large-and-up) {
            padding-left: 10%;
        }
    }

}

.teammate--secondary {
    @include respond-to(small-and-below) {
        .flag__image {
            padding-right: 0;
        }
    }
}