// =============================================================================
// Teammate
//
// Table of contents:
// 1. Teammate
// 2. Photo
// 3. Info
//
// =============================================================================

// =============================================================================
// 1. Teammate
// =============================================================================

.teammate {
    @extend .cf;
}


// =============================================================================
// 2. Photo
// =============================================================================

.teammate__photo {

    .teammate--secondary & {
        @extend .thumbnail-circle;

        @include respond-to(small-and-below) {
            width: 75px;
        }
    }

    .teammate--hero & {
        @include respond-to(large-and-up) {
            float: right;
            position: relative;
            margin-top: -6em;
        }
    }
}


// =============================================================================
// 3. Info
// =============================================================================

.teammate__name {
    @extend .alpha;
    @extend .face--normal;

    .teammate--hero & {
        @extend .mega;
    }
}

.teammate__description {
    .teammate--hero & {
        @extend .delta;
    }
}

