// =============================================================================
// Typography
// =============================================================================

.face--200,
.face--light {
    font-weight: 200;
}

.face--400,
.face--normal {
    font-weight: 400;
}

.face--700,
.face--bold {
    font-weight: 700;
}

.face--base {
    font-family: $base-font-family;
}

.face--alternate {
    font-family: $alternate-font-family;
}

.face--italic {
    font-style: italic;
}

.weak-text-color {
    color: $weak-text-color;
}

@include respond-to(small-and-below) {
    @include set-font-size($font-size: 18px, $base-line: (18px * 1.5) );
    .giga { font-size: 62px; }
    .mega { font-size: 54px; }
    .kilo { font-size: 48px; }
    .alpha { font-size: 46px; }
    .beta { font-size: 38px; }
    .gamma { font-size: 32px; }
    .delta { font-size: 22px; }
    .epsilon { font-size: 22px; }
    .zeta { font-size: 18px; }
    .milli { font-size: 16px; }
    .micro { font-size: 14px; }
    .nano { font-size: 11px; }
}

#{headings()} {
    font-weight: 300;
    letter-spacing: 1px;
}

.letter-spaced {

    letter-spacing: 2px;

    @include respond-to(large-and-up) {
        letter-spacing: 8px;
    }
}

p {
    max-width: 32em;

    .text--center & {
        @extend .align--center;
    }
}

ul { padding: 0; }

// @todo: fix this dirty hack to prevent text overflow
.colaboradors-title {
    @include respond-to(medium-and-below) {
        font-size: 36px !important;
    }

    @include respond-to(small-and-below) {
        font-size: 24px !important;
    }
}
